In [1]:
print "Hello, world"

Hello, world

In [2]:
my_var = 5

In [3]:
my_var = my_var + 2

In [4]:
my_var

7

In [7]:
my_var = str(my_var)

In [5]:
print my_var

7

In [8]:
print " The value of my_var is currently: " + str(my_var)

 The value of my_var is currently: 7

In [9]:
celsius = 15
print celsius

15

In [10]:
fahrenheit = (celsius *2) + 30
print fahrenheit

60

In [13]:
print str (celsius) + " degrees in Celsius  is " + str(fahrenheit) + " degrees in Fahrenheit"

15 degrees in Celsius  is 60 degrees in Fahrenheit

In [37]:
celsius = input ()

fahrenheit = (celsius *2) + 30
print str (celsius) + " degrees in Celsius is " + str(fahrenheit) + " degrees in Fahrenheit"

20
20 degrees in Celsius is 70 degrees in Fahrenheit

In [42]:
celsius = input("Enter a temperature in Celsius: ")

fahrenheit = (celsius * 2) + 30
conversion = str(celsius) + " degrees in Celsius is " + str(fahrenheit) + " degrees in Fahrenheit"
if celsius > 20:
    print conversion + "That's pretty warm"
elif celsius < 5:
    print conversion + "That is cold!"
else:
    print conversion + "That's a bit cool"

Enter a temperature in Celsius: 25
25 degrees in Celsius is 80 degrees in FahrenheitThat's pretty warm

In [43]:
num_list = [15, 18, 12, 22, 34]

In [44]:
print num_list

[15, 18, 12, 22, 34]

In [47]:
str_list =  ['cats', 'dogs', 'koalas', 'parrots']

In [48]:
str_list

['cats', 'dogs', 'koalas', 'parrots']

In [50]:
print str_list[0]
print str_list[1]

cats
dogs

In [54]:
a_num = 2
print str_list[a_num]

koalas

In [55]:
celsius = [15, 18, 12, 22, 34]

In [56]:
print celsius

[15, 18, 12, 22, 34]

In [57]:
for temperature in celsius:
    print temperature

15
18
12
22
34

In [58]:
celsius = [15, 18, 12, 22, 34]

for temperature in celsius:
    fahrenheit = temperature * 2 + 30
    print fahrenheit

60
66
54
74
98

In [60]:
for temperature in celsius:
    fahrenheit = temperature * 2 + 30
    print str (temperature) + " Celsius is " + str(fahrenheit)

15 Celsius is 60
18 Celsius is 66
12 Celsius is 54
22 Celsius is 74
34 Celsius is 98

In [61]:
a_csv = "a,b,c,d,e,f,g"

In [62]:
print a_csv

a,b,c,d,e,f,g

In [63]:
a_csv.split(',')

['a', 'b', 'c', 'd', 'e', 'f', 'g']